body,
html {
  margin: 0;
  padding: 0;
  font-family: PTSans, roboto;
}

.box1 {
  background-color: black;
  width: 100%;

  padding: 0;
  height: 150px;
}
.box1 img {
  padding-top: 20px;
  width: 350px;
  height: 110px;
}

.box2 {
  width: 100%;
  height: 900px;
  background-image: url(imgp1/banner.jpeg);
  background-size: 100% 100%;
  position: relative;
  display: flex;
}
.nav {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
}
.specs {
  position: absolute;
  top: 140px;
  right: 80px;
  color: white;

  font-family: PTSans;
}

.p1 {
  font-size: 31px;
  margin-bottom: 0;
  font-weight: bold;
}
.specs span {
  font-size: 14px;
}
.p2 {
  font-size: 16px;
  font-weight: lighter;
}

.logo2 {
  width: 330px;
  height: 90px;
  position: absolute;
  top: 200px;
  left: 50px;
}

.logo2 img {
  width: 100%;
  height: 100%;
}

.price {
  /* width: 90px; */
  height: 40px;
  position: absolute;
  top: 290px;
  left: 50px;
  color: white;
}
.price1 {
  margin-bottom: 0px;
  color: grey;
  font-size: 14px;
}
.price2 {
  margin-top: 10px;
  font-size: 21px;
}

.buttons {
  position: absolute;
  top: 400px;
  left: 50px;
}
.buttons button {
  height: 60px;
  width: 190px;
  font-size: 20px;
  border: none;
}
.purchase {
  color: black;
  background-color: white;
  margin-right: 15px;
  cursor: pointer;
}
.book-test-ride {
  color: white;
  background-color: black;
  cursor: pointer;
}

.box3 {
  background-color: black;
  width: 100%;
  height: 150px;
}



.box4 {
  position: relative;
}
.b4 {
  position: absolute;
  color: white;
  top: 27px;
  right: 220px;
  height: 60px;
  width: 170px;
  cursor: pointer;
  font-size: 20px;
  background-color: black;
  border: none;
}
.box4-1 {
  position: absolute;
  top: 190px;
  left: 205px;
  width: 50px;
  height: 30px;
}
.box4-1 button{
  width: 100%;
  font-size: 17px;
  border: none;
  background-color: rgb(249, 248, 248);
}

.box4-2{
  position: absolute;
  top: 190px;
  left: 310px;
  width: 90px;
  height: 30px;
}
.box4-2 button{
  width: 100%;
  font-size: 17px;
  border: none;
  background-color: rgb(249, 248, 248);
}

.box4-3{
  position: absolute;
  top: 40px;
  left: 40px;
  width: 70px;
  height: 20px;
  
}

.box4-3 button{
  height: 100%;
  width: 100%;
  border: none;
  background-color: white;
}




.box5 {
  background-color: rgb(9, 211, 144);
  width: 100%;
  height: 1024px;
  position: relative;
}
.box5-1 {
  width: 100%;
  position: absolute;
  top: 110px;
}

.box5-2 {
  position: absolute;
  width: 300px;
  height: 400px;
  top: 175px;
  left: 505px;
  z-index: 9;
}
.box5-2 img {
  width: 100%;
  height: 100%;
}

.pricing {
  width: 100%;
  height: 800px;
}

.box5-3,
.box5-4 {
  z-index: 6;

  position: absolute;
}
.b1,
.b2 {
  width: 150px;
  height: 40px;
  background-color: white;
  border: none;
  font-size: 32px;
}
.box5-3 {
  top: 250px;
  right: 497px;
}
.box5-4 {
  top: 250px;
  right: 210px;
}

.box5-5 {
  position: absolute;
  bottom: 160px;
  left: 46%;
}
.box5-5 button {
  width: 120px;
  height: 60px;
  font-size: 32px;
  font-weight: lighter;
  background-color: rgb(9, 211, 144);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.box6 {
  width: 100%;
  height: 980px;
  position: relative;
  background-color: black;
  color: white;
  font-weight: 700;
  font-style: italic;
}
.box6-1 {
  position: absolute;
  top: 100px;
  width: 780px;
  height: 800px;
}
.box6-1 img {
  width: 100%;
  height: 600px;
}

.box6-2 {
  position: absolute;
  right: 160px;
  top: 230px;

  font-size: 37px;
}

.box6-3 {
  position: absolute;
  right: 0;
  top: 400px;
  width: 600px;
  font-size: 37px;

  vertical-align: top;
  margin-right: 20px;
}
.box6-3 img {
  vertical-align: top;
  text-align: bottom;
  margin-top: 10px;
  margin-left: 40px;
  width: 240px;
}

.box6-3 span {
  margin-top: 0;
  padding: 0;
  line-height: 0;
}

.box6-4 {
  position: absolute;
  right: 0;
  bottom: 320px;
  width: 600px;
  height: 50px;

  margin-right: 23px;
}
.box6-4 input {
  width: 100%;
  height: 100%;
  font-size: 26px;
  background-color: rgb(203, 201, 201);
  color: black;
  border: none;
}

.box6-5 {
  position: absolute;
  right: 18px;
  bottom: 270px;
}
.box6-5 button {
  border: none;
  font-size: 21px;
  background-color: green;
  font-style: italic;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.box6-6 {
  position: absolute;
  bottom: 130px;
  right: 0px;
  width: 600px;
  background-color: black;
  height: 100px;
}
.facebook,
.twitter {
  width: 85px;
  height: 99px;
  margin-right: 40px;
  cursor: pointer;
}
.linkedin {
  height: 70px;
  width: 70px;
  margin-right: 40px;
  margin-bottom: 17px;
  margin-left: 20px;
  cursor: pointer;
}
.youtube {
  width: 105px;
  height: 104px;
  margin-right: 40px;
  margin-left: 20px;
  cursor: pointer;
}

.box6-7 {
  position: absolute;
  bottom: 0;
  right: 0;
  color: green;
  width: 150px;
  font-size: 21px;
}

.box6-8 {
  position: absolute;
  bottom: 20px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.box6-8 button {
  width: 140px;
  height: 40px;
  font-size: 21px;
  border: none;
  cursor: pointer;
  font-style: italic;
}

.box6-9 {
  position: absolute;
  top: 30px;
  right: 70px;
}
.box6-9 button {
  font-size: 21px;
  padding: 12px 15px;
  cursor: pointer;
  background-color: rgb(188, 186, 186);
  border: none;
}
